.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.Header {
  min-height: 10vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Header h1 {
  font-size: 50px;
  color: white;
}

.Weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}