.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.Header {
  min-height: 10vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.Weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}