.Weatherdata {
    background-color: white;
    width: 30vw;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.Main {
    padding-top: 0px;
    padding-bottom: 25px;
}

.Temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Main h1 {
    color: black;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.Main h2 {
    color: black;
    font-size: 28px;
}

.Main p {
    color: black;
    font-size: 24px;
}

.Detailed p {
    color: black;
    font-size: 18px;
}


/* Formatting for mobile devices */
@media screen and (max-width: 1080px) {
    .Weatherdata {
        background-color: white;
        width: 75vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
        inline-size: 85%;
        overflow-wrap: break-word;
    }
}